table{ 
    border-collapse: collapse;
    border-top: 3px solid black;
}

td{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.col1{ width: 80px;}

input{ width: 500px; height: 25px;}

textarea{ width: 500px; height: 100px; resize: none;}

#buttons{ 
    width: 580px;
    text-align: right;
    margin-top: 20px;
}

#buttons button{
    padding: 5px 20px;
    margin-top: 3px;
}